*{
	box-sizing:border-box;
	margin:0;
}

body{
	font-family: 'DM Sans', sans-serif;
	background: #E5E5E5;
}


/* Reset CSS */
a{
	color: inherit;
	text-decoration:none;
}

button,
input,
textarea{
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active{
	outline:none;
	box-shadow: none;
	
}

ul,
ol,
li{
	list-style-type: none;
	padding-left:0;
	margin-left:0;
}

p{
	font-size:16px;
	line-height:1.5;
	letter-spacing:-0.01em;

}

.fill-button{
	display:inline-flex;
	justify-content: center;
	align-items:center;
	width:140px;
	height:48px;
	background-color:#3040C4;
	color:white;
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: -0.05em;
	font-weight:700;
	border-radius: 2px;
	transition: opacity 300ms ease-in-out;
}

.fill-button:hover{
	opacity:0.5;
}
.fill-button.inverted{
	background-color: #fff;
	color:#3040C4;
}

.section{
	padding:80px 0;
}

.section-category{
	display:block;
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
}

.section-title{
	margin-bottom: 24px;
	color:#2B292D;
	font-size: 34px;
	line-height: 1.058823529;
	letter-spacing: -0.03em;
}

/* Landing*/


.landing{
	background-color: #FDDED8;
	text-align: center;
}

.landing-content{
	display:flex;
	flex-direction: column;
	justify-content: center;
	width:100%;
	height:100vh;
}

.landing-title{
	font-size: 40px;
	letter-spacing: -0.05em;
	line-height: 1;
	color:#2B292D;
	margin-bottom:24px;
}

.landing-desc{
	margin-bottom:20px;
}

.landing .button-group{
	display:flex;
	justify-content:center;
	align-items:center;
}

.landing .button-group .fill-button:first-child{
	margin-right:8px;
}

/*sercive*/
.service{
	background-color: #F4F5F7;
	padding:80px 0;
}
.service-title{
	font-size: 22px;
	line-height: 1.363636363636;
	letter-spacing: -0.04em;
	color: #2B292D;
	margin-bottom: 16px;
}
.service .col-12:first-child{
	margin-bottom: 40px;
}

/*program*/
.section-category{
	color:#009B4D;
}

/* >=768px(Desktop) */

@media screen and (min-width: 768px) {

	/* Reset CSS */
	p{
		font-size: 22px;
		line-height: 1.363636;
	}

	.flll-button{
		width:160px;
		height:56px;
		font-size:18px;
		line-height:1.55555;
	}
	.section{
		padding-bottom:96px;
	}

	.section-category{
		font-size:22px;
		line-height: 1.09090909;
		margin-bottom: 16px;
	}

	.section-title{
		margin-bottom: 32px;
		font-size: 56px;
		line-height: 1;
	}
	
	/* Landing */
	.landing-content{
		height:auto;
		padding:120px 0;
	}

	.landing-title{
		font-size: 70px;
		line-height: 1.0285714286;
		margin-bottom: 32px;
	}

	.landing-desc{
		margin-bottom: 32px;
	}

	.landing .button-group .fill-button:first-child{
		margin-right: 16px;
	}


	/*Service */
	.service-title{
		font-size: 26px;
		line-height: 1.307692307;
	}

	.service .col-12:first-child{
		margin-bottom: 0;
	}

	/*program*/
	.program{
		text-align: center;
	}
}
/* Custom Grid System - Fix container width*/

@media screen and (min-width: 1200px) {
	.container {
		max-width: 960px;
	}
}